Repository MountainCat1/Catton: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/accounts-pipeline.yaml, Pipelines/api-gateway-pipeline.yaml, Pipelines/conventions-pipeline.yaml

Pipelines/accounts-pipeline.yaml:

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: 'Domain Secrets'

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '**/Domains/Accounts/*'

stages:
    - template: /Pipelines/Templates/domain-template.yaml
      parameters:
        appName: 'catton-accounts'
        projectPath: '**/Domains/Accounts'

Pipelines/api-gateway-pipeline.yaml:

pool:
  vmImage: 'ubuntu-latest'

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '**/ApiGateway/*'

stages:
#    - template: /Pipelines/Templates/domain-template.yaml
#      parameters:
#        appName: 'catton-api-gateway'
#        projectPath: '**/ApiGateway'
   - stage: 
     jobs:       
       - job: 
         steps:
           - task: Docker@2
             inputs:
               containerRegistry: 'CattonRegistryConnection'
               command: 'login'
           - task: AzureWebAppContainer@1
             inputs:
               azureSubscription: 'CattonAzureResourceManagerConnection'
               appName: 'catton-api-gateway'
               containers: 'cattonregistry.azurecr.io/catton-api-gateway:230'

Pipelines/conventions-pipeline.yaml:

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: 'Domain Secrets'

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '**/Domains/Conventions/*'

stages:
    - template: /Pipelines/Templates/domain-template.yaml
      parameters:
        appName: 'catton-conventions'
        projectPath: '**/Domains/Conventions'

Add organizer creation feature
  Backend/Domains/Conventions/Conventions.Api/Controllers/OrganizerController.cs
  Backend/Domains/Conventions/Conventions.Application/Dtos/Organizer/OrganizerDto.cs
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/organizer-create/organizer-create.component.html
  Frontend/frontend/src/app/components/organizer-create/organizer-create.component.scss
  Frontend/frontend/src/app/components/organizer-create/organizer-create.component.spec.ts
  Frontend/frontend/src/app/components/organizer-create/organizer-create.component.ts
  Frontend/frontend/src/app/components/organizer-details/organizer-delete-confirm-dialog/organizer-delete-confirm-dialog.component.spec.ts
  Frontend/frontend/src/app/components/organizer-details/organizer-details.component.spec.ts
  Frontend/frontend/src/app/components/organizers/organizers.component.html
  Frontend/frontend/src/app/components/organizers/organizers.component.ts
  Frontend/frontend/src/app/components/ticket-template-create/ticket-template-create.component.html
  Frontend/frontend/src/app/services/navigation.service.ts
  Frontend/frontend/src/styles/form.scss
Due: Pipelines/conventions-pipeline.yaml

Change redirect after organizer deletion
  Frontend/frontend/src/app/components/organizer-details/organizer-delete-confirm-dialog/organizer-delete-confirm-dialog.component.ts
Due: none

Add Organizer Edit feature and UI
  Documentation/User Documentation/.obsidian/workspace.json
  Documentation/User Documentation/Organizers.md
  Documentation/User Documentation/imgs/organizer_details.png
  Documentation/User Documentation/imgs/organizers_list.png
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/organizer-details/organizer-details.component.html
  Frontend/frontend/src/app/components/organizer-details/organizer-details.component.ts
  Frontend/frontend/src/app/components/organizer-edit/organizer-edit.component.html
  Frontend/frontend/src/app/components/organizer-edit/organizer-edit.component.scss
  Frontend/frontend/src/app/components/organizer-edit/organizer-edit.component.spec.ts
  Frontend/frontend/src/app/components/organizer-edit/organizer-edit.component.ts
  Frontend/frontend/src/app/services/navigation.service.ts
Due: none

Update documentation and configuration for deployment
  Documentation/Deployment Documentation/.obsidian/app.json
  Documentation/Deployment Documentation/.obsidian/appearance.json
  Documentation/Deployment Documentation/.obsidian/core-plugins-migration.json
  Documentation/Deployment Documentation/.obsidian/core-plugins.json
  Documentation/Deployment Documentation/.obsidian/graph.json
  Documentation/Deployment Documentation/.obsidian/workspace.json
  Documentation/Deployment Documentation/Deployment.md
  Documentation/Technical Documentation/Back to API list.md
  Documentation/Technical Documentation/Back to Model list.md
  Documentation/Technical Documentation/Welcome.md
Due: none

fixes in account domain
  Backend/Domains/Accounts/Accounts.Api/Program.cs
  Backend/Domains/Accounts/Accounts.Application/Features/Account/GetAccount.cs
Due: Pipelines/accounts-pipeline.yaml
