Repository MountainCat1/Catton: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/api-gateway-pipeline.yaml, Pipelines/conventions-pipeline.yaml

Pipelines/api-gateway-pipeline.yaml:

pool:
  vmImage: 'ubuntu-latest'

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '**/ApiGateway/*'

stages:
#    - template: /Pipelines/Templates/domain-template.yaml
#      parameters:
#        appName: 'catton-api-gateway'
#        projectPath: '**/ApiGateway'
   - stage: 
     jobs:       
       - job: 
         steps:
           - task: Docker@2
             inputs:
               containerRegistry: 'CattonRegistryConnection'
               command: 'login'
           - task: AzureWebAppContainer@1
             inputs:
               azureSubscription: 'CattonAzureResourceManagerConnection'
               appName: 'catton-api-gateway'
               containers: 'cattonregistry.azurecr.io/catton-api-gateway:230'

Pipelines/conventions-pipeline.yaml:

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: 'Domain Secrets'

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '**/Domains/Conventions/*'

stages:
    - template: /Pipelines/Templates/domain-template.yaml
      parameters:
        appName: 'catton-conventions'
        projectPath: '**/Domains/Conventions'

updated ApiClient
  Utilities/Catton.ApiClient/Catton.ApiClient/Api/ConventionsApi.cs
  Utilities/Catton.ApiClient/Catton.ApiClient/Api/PaymentsApi.cs
  Utilities/Catton.ApiClient/Catton.ApiClient/Catton.ApiClient.csproj
  Utilities/CsharpCodeGen/CsharpCodeGen/generated/PaymentsApi.cs
  Utilities/CsharpCodeGen/CsharpCodeGen/source.md
Due: none

updated ApiClient
  Utilities/Catton.ApiClient/Catton.ApiClient/ApiClient.cs
Due: none

Add payment integration to ticketing system
  Backend/Domains/Conventions/Conventions.Api/Conventions.Api.csproj
  Backend/Domains/Conventions/Conventions.Api/Program.cs
  Backend/Domains/Conventions/Conventions.Api/appsettings.Development.json
  Backend/Domains/Conventions/Conventions.Api/appsettings.DockerCompose.json
  Backend/Domains/Conventions/Conventions.Application/DomainServices/PaymentDomainService.cs
  Backend/Domains/Conventions/Conventions.Application/Dtos/Ticket/TicketDto.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/CreateTicket.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetTicket.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Attendee.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Ticket.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/TicketTemplate.cs
  Backend/Domains/Conventions/Conventions.Domain/Services/PaymentDomainService.cs
  Backend/Domains/Conventions/Conventions.Infrastructure/Conventions.Infrastructure.csproj
  Backend/Domains/Payments/Payments.Api/StripeDocker/run.sh
  Backend/Domains/Payments/Payments.Api/appsettings.DockerCompose.json
Due: Pipelines/conventions-pipeline.yaml

Add generated payment API and update Swagger codegen script
  Frontend/frontend/src/app/services/generated-api/payments/README.md
  Frontend/frontend/src/app/services/generated-api/payments/api-spec.json
  Frontend/frontend/src/app/services/generated-api/payments/api.module.ts
  Frontend/frontend/src/app/services/generated-api/payments/api/api.ts
  Frontend/frontend/src/app/services/generated-api/payments/api/payment.service.ts
  Frontend/frontend/src/app/services/generated-api/payments/configuration.ts
  Frontend/frontend/src/app/services/generated-api/payments/encoder.ts
  Frontend/frontend/src/app/services/generated-api/payments/git_push.sh
  Frontend/frontend/src/app/services/generated-api/payments/index.ts
  Frontend/frontend/src/app/services/generated-api/payments/model/checkoutSessionDetailsDto.ts
  Frontend/frontend/src/app/services/generated-api/payments/model/errorResponse.ts
  Frontend/frontend/src/app/services/generated-api/payments/model/models.ts
  Frontend/frontend/src/app/services/generated-api/payments/model/paymentCreateDto.ts
  Frontend/frontend/src/app/services/generated-api/payments/model/paymentDto.ts
  Frontend/frontend/src/app/services/generated-api/payments/model/paymentStatus.ts
  Frontend/frontend/src/app/services/generated-api/payments/openapi/.gitignore
  Frontend/frontend/src/app/services/generated-api/payments/openapi/.openapi-generator-ignore
  Frontend/frontend/src/app/services/generated-api/payments/openapi/.openapi-generator/FILES
  Frontend/frontend/src/app/services/generated-api/payments/openapi/.openapi-generator/VERSION
  Frontend/frontend/src/app/services/generated-api/payments/param.ts
  Frontend/frontend/src/app/services/generated-api/payments/variables.ts
  Utilities/Scripts/services.txt
  Utilities/Scripts/swagger_codegen.sh
Due: none

Add payment details to ticket model and UI
  Frontend/frontend/src/app/components/ticket-details/ticket-details.component.html
  Frontend/frontend/src/app/services/generated-api/conventions/api-spec.json
  Frontend/frontend/src/app/services/generated-api/conventions/model/checkoutSessionDetailsDto.ts
  Frontend/frontend/src/app/services/generated-api/conventions/model/models.ts
  Frontend/frontend/src/app/services/generated-api/conventions/model/paymentDto.ts
  Frontend/frontend/src/app/services/generated-api/conventions/model/paymentStatus.ts
  Frontend/frontend/src/app/services/generated-api/conventions/openapi/.openapi-generator/FILES
Due: none

Update Webhook endpoint and Docker settings
  Backend/ApiGateway/ApiGateway/configuration/ocelot.DockerCompose.json
  Backend/Domains/Payments/Payments.Api/Controllers/WebhookController.cs
  Backend/Domains/Payments/Payments.Api/StripeDocker/run.sh
Due: Pipelines/api-gateway-pipeline.yaml

Refactor application
  Backend/Domains/Accounts/Accounts.Api/Migrations/AccountDbContextModelSnapshot.cs
  Backend/Domains/Accounts/Accounts.Api/Program.cs
  Backend/Domains/Conventions/Conventions.Api/Installer/MassTransitConfigurator.cs
  Backend/Domains/Conventions/Conventions.Api/Installer/MassTransitInstaller.cs
  Backend/Domains/Conventions/Conventions.Api/Program.cs
  Backend/Domains/Conventions/Conventions.Api/appsettings.Development.json
  Backend/Domains/Conventions/Conventions.Api/appsettings.DockerCompose.json
  Backend/Domains/Conventions/Conventions.Application/Consumers/PaymentUpdateConsumer.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetTicket.cs
  Backend/Domains/Payments/Payments.Api/Installers/MassTransitConfigurator.cs
  Backend/Domains/Payments/Payments.Api/Installers/MassTransitInstaller.cs
  Backend/Domains/Payments/Payments.Api/Program.cs
  Backend/Domains/Payments/Payments.Api/StripeDocker/build.sh
  Backend/Domains/Payments/Payments.Api/StripeDocker/entrypoint.sh
  Backend/Domains/Payments/Payments.Api/appsettings.DockerCompose.json
  Backend/Domains/Payments/Payments.Application/Features/Payments/UpdatePaymentStatus.cs
  Backend/Domains/Payments/Payments.Application/Messages/PaymentUpdatedMessage.cs
  Frontend/frontend/src/app/components/tickets/tickets.component.html
  Frontend/frontend/src/app/components/tickets/tickets.component.scss
Due: Pipelines/conventions-pipeline.yaml

Add functionality to delete attendee tickets
  Backend/Domains/Conventions/Conventions.Application/Authorization/Extensions/AuthorizationPoliciesDefiner.cs
  Backend/Domains/Conventions/Conventions.Application/Dtos/Ticket/TicketDto.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/DeleteTicket.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Attendee.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Ticket.cs
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/ticket-details/ticket-delete-confirm-dialog/ticket-delete-confirm-dialog.component.html
  Frontend/frontend/src/app/components/ticket-details/ticket-delete-confirm-dialog/ticket-delete-confirm-dialog.component.spec.ts
  Frontend/frontend/src/app/components/ticket-details/ticket-delete-confirm-dialog/ticket-delete-confirm-dialog.component.ts
  Frontend/frontend/src/app/components/ticket-details/ticket-details.component.html
  Frontend/frontend/src/app/components/ticket-details/ticket-details.component.ts
  Frontend/frontend/src/app/services/generated-api/conventions/api-spec.json
  Frontend/frontend/src/app/services/generated-api/conventions/model/ticketDto.ts
  Frontend/frontend/src/app/services/generated-api/payments/api-spec.json
  Frontend/frontend/src/app/services/generated-api/payments/api/api.ts
  Frontend/frontend/src/app/services/generated-api/payments/api/webhook.service.ts
  Frontend/frontend/src/app/services/generated-api/payments/index.ts
  Frontend/frontend/src/app/services/generated-api/payments/model/models.ts
  Frontend/frontend/src/app/services/generated-api/payments/model/paymentDto.ts
  Frontend/frontend/src/app/services/generated-api/payments/openapi/.openapi-generator/FILES
Due: Pipelines/conventions-pipeline.yaml

Add TicketTemplateDetails component and navigation
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.html
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.scss
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.spec.ts
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.ts
  Frontend/frontend/src/app/components/ticket-templates/ticket-templates.component.html
  Frontend/frontend/src/app/components/ticket-templates/ticket-templates.component.ts
Due: none

Add ticket template delete confirmation feature
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-delete-confirm/ticket-template-delete-confirm.component.html
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-delete-confirm/ticket-template-delete-confirm.component.spec.ts
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-delete-confirm/ticket-template-delete-confirm.component.ts
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.html
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.ts
Due: none

Add ticket-template create component and routing
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/attendee-details/attendee-delete-confirm/attendee-delete-confirm-dialog.component.ts
  Frontend/frontend/src/app/components/attendee-details/attendee-details.component.ts
  Frontend/frontend/src/app/components/ticket-template-create/ticket-template-create.component.html
  Frontend/frontend/src/app/components/ticket-template-create/ticket-template-create.component.scss
  Frontend/frontend/src/app/components/ticket-template-create/ticket-template-create.component.spec.ts
  Frontend/frontend/src/app/components/ticket-template-create/ticket-template-create.component.ts
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.html
  Frontend/frontend/src/app/components/ticket-templates/ticket-templates.component.ts
  Frontend/frontend/src/app/services/detail-redirect-guard.guard.spec.ts
  Frontend/frontend/src/app/services/detail-redirect-guard.guard.ts
  Frontend/frontend/src/app/services/navigation.service.ts
Due: none

added jwt check for expiration
  Frontend/frontend/package-lock.json
  Frontend/frontend/package.json
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
Due: none

added edit ticket template page
  Backend/Domains/Accounts/Accounts.Api/Migrations/20231230204314_TempMigration_MetFodYyMX.Designer.cs
  Backend/Domains/Accounts/Accounts.Api/Migrations/20231230204314_TempMigration_MetFodYyMX.cs
  Backend/Domains/Conventions/Conventions.Api/Migrations/20231230205246_TempMigration_799zmv3Sj3.Designer.cs
  Backend/Domains/Conventions/Conventions.Api/Migrations/20231230205246_TempMigration_799zmv3Sj3.cs
  Backend/Domains/Conventions/Conventions.Api/Migrations/ConventionDomainDbContextModelSnapshot.cs
  Backend/Domains/Payments/Payments.Api/Migrations/20231230205123_TempMigration_y4mU0K0nOi.Designer.cs
  Backend/Domains/Payments/Payments.Api/Migrations/20231230205123_TempMigration_y4mU0K0nOi.cs
  Backend/Domains/Payments/Payments.Api/Migrations/PaymentsDbContextModelSnapshot.cs
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.html
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.ts
  Frontend/frontend/src/app/components/ticket-template-edit/ticket-template-edit.component.html
  Frontend/frontend/src/app/components/ticket-template-edit/ticket-template-edit.component.scss
  Frontend/frontend/src/app/components/ticket-template-edit/ticket-template-edit.component.ts
  Frontend/frontend/src/app/services/navigation.service.ts
Due: Pipelines/conventions-pipeline.yaml

refactored stylesheets
  Frontend/frontend/src/app/components/ticket-template-create/ticket-template-create.component.scss
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.html
  Frontend/frontend/src/app/components/ticket-template-edit/ticket-template-edit.component.scss
  Frontend/frontend/src/styles/form.scss
  Frontend/frontend/src/styles/styles.scss
Due: none

Add tests for TicketTemplateEditComponent
  Frontend/frontend/src/app/components/ticket-template-edit/ticket-template-edit.component.spec.ts
Due: none

Add Dockerfile for Payments and update .NET version in Conventions Dockerfile
  Backend/Domains/Payments/Azure.Dockerfile
Due: none

Update .NET version in Dockerfile
  Backend/Domains/Accounts/Azure.Dockerfile
Due: none

Enable API documentation and update Swagger configuration
  Backend/ApiGateway/ApiGateway/configuration/ocelot.Azure.json
  Backend/Domains/Accounts/Accounts.Api/Accounts.Api.csproj
  Backend/Domains/Accounts/Accounts.Api/Controllers/AccountController.cs
  Backend/Domains/Accounts/Accounts.Api/Extensions/ServiceCollection/SwaggerInstaller.cs
Due: Pipelines/api-gateway-pipeline.yaml

Rename ocelot Azure config file
  Backend/ApiGateway/ApiGateway/configuration/ocelot.AzureDevelopment.json
Due: Pipelines/api-gateway-pipeline.yaml

Update Azure Dockerfile and environment variables
  Backend/Domains/Accounts/Azure.Dockerfile
Due: none

Upgrade to .NET 8.0 target framework
  Backend/Domains/Accounts/Accounts.Api/Accounts.Api.csproj
  Backend/Domains/Accounts/Accounts.Application/Accounts.Application.csproj
  Backend/Domains/Accounts/Accounts.Domain/Accounts.Domain.csproj
  Backend/Domains/Accounts/Accounts.Infrastructure/Accounts.Infrastructure.csproj
  Backend/Domains/Accounts/Azure.Dockerfile
Due: none

Add Azure Blob and Key Vault configurations, update packages
  Backend/Domains/Accounts/Accounts.Api/Accounts.Api.csproj
  Backend/Domains/Accounts/Accounts.Api/Extensions/ServiceCollection/AzureBlobConfigurationInstaller.cs
  Backend/Domains/Accounts/Accounts.Api/Extensions/ServiceCollection/AzureSecretsInstaller.cs
  Backend/Domains/Accounts/Accounts.Application/Accounts.Application.csproj
  Backend/Domains/Accounts/Accounts.Application/Features/Account/GetMyAccount.cs
  Backend/Domains/Accounts/Accounts.Application/Services/DatabaseErrorMapper.cs
  Backend/Domains/Accounts/Accounts.Application/Services/UserAccessor.cs
  Backend/Domains/Accounts/Accounts.Domain/Accounts.Domain.csproj
  Backend/Domains/Accounts/Accounts.Infrastructure/Accounts.Infrastructure.csproj
  Backend/Domains/Accounts/Accounts.Infrastructure/Generics/Repository.cs
Due: none

Add support for Azure storage and Key Vault settings
  Backend/Domains/Accounts/Accounts.Api/Extensions/ConfigurationBuilderExtensions.cs
  Backend/Domains/Accounts/Accounts.Api/Program.cs
  Utilities/Scripts/swagger_codegen.sh
Due: none

Remove redundant files and update API endpoints
  Backend/Domains/Accounts/Accounts.Api/Controllers/AccountController.cs
  Backend/Domains/Accounts/Accounts.Api/Controllers/ClaimsController.cs
  Backend/Domains/Conventions/Azure.Dockerfile
  Documentation/Catton/.obsidian/app.json
  Documentation/Catton/.obsidian/appearance.json
  Documentation/Catton/.obsidian/core-plugins-migration.json
  Documentation/Catton/.obsidian/core-plugins.json
  Documentation/Catton/.obsidian/hotkeys.json
  Documentation/Catton/.obsidian/workspace.json
  Documentation/Catton/Payment.md
Due: Pipelines/conventions-pipeline.yaml

Update .NET and MediatR versions
  Backend/Domains/Accounts/Accounts.Api/Accounts.Api.csproj
  Backend/Domains/Accounts/Accounts.Domain/Accounts.Domain.csproj
  Backend/Domains/Accounts/Accounts.Infrastructure/Accounts.Infrastructure.csproj
  Backend/Domains/Accounts/Dockerfile
Due: none

Add ASPNETCORE_URLS environment variable to Dockerfiles
  Backend/ApiGateway/Azure.Dockerfile
  Backend/Domains/Accounts/Azure.Dockerfile
  Backend/Domains/Conventions/Azure.Dockerfile
Due: Pipelines/api-gateway-pipeline.yaml, Pipelines/conventions-pipeline.yaml

Refactor script utilities and update documentation
  Backend/ApiGateway/Azure.Dockerfile
  Documentation/Documentation/.obsidian/workspace.json
  Documentation/Documentation/Technologies Used.md
  Utilities/ApiClientGenerator/.gitignore
  Utilities/ApiClientGenerator/services.txt
  Utilities/ApiClientGenerator/swagger_codegen.sh
  Utilities/Initializer/.gitignore
  Utilities/Initializer/Initializator.sln
  Utilities/Initializer/Initializator/AppSettings.cs
  Utilities/Initializer/Initializator/Extensions/ConfigurationBuilderExtensions.cs
  Utilities/Initializer/Initializator/InitializationSettings.cs
  Utilities/Initializer/Initializator/Initializator.csproj
  Utilities/Initializer/Initializator/Initializer.cs
  Utilities/Initializer/Initializator/Program.cs
  Utilities/Initializer/Initializator/appsettings.json
  Utilities/Initializer/dotnet-install.sh
  Utilities/Scripts/.idea/.idea.Scripts.dir/.idea/.gitignore
Due: Pipelines/api-gateway-pipeline.yaml

Update ASPNETCORE_URLS in Azure.Dockerfile
  Backend/Domains/Conventions/Azure.Dockerfile
Due: Pipelines/conventions-pipeline.yaml

Update ASPNETCORE_URLS in Azure.Dockerfile
  Backend/Domains/Accounts/Azure.Dockerfile
Due: none

Update documentation and upgrade package versions
  Backend/Domains/Accounts/Accounts.Api/Accounts.Api.csproj
  Backend/Domains/Accounts/Accounts.Application/Accounts.Application.csproj
  Backend/Domains/Accounts/Accounts.Domain/Accounts.Domain.csproj
  Backend/Domains/Accounts/Accounts.Infrastructure/Accounts.Infrastructure.csproj
  Documentation/Documentation/Technologies Used.md
Due: none

Add ASPNETCORE_URLS environment variable to Azure Dockerfile
  Backend/Domains/Payments/Azure.Dockerfile
Due: none

Update tech documentation with payments and persistence details
  Documentation/Documentation/Technologies Used.md
Due: none

Add Rest API section to Technologies Used documentation
  Documentation/Documentation/Technologies Used.md
Due: none

Add initial Obsidian configuration and documentation files
  Documentation/User Documentation/.obsidian/app.json
  Documentation/User Documentation/.obsidian/appearance.json
  Documentation/User Documentation/.obsidian/core-plugins-migration.json
  Documentation/User Documentation/.obsidian/core-plugins.json
  Documentation/User Documentation/.obsidian/graph.json
  Documentation/User Documentation/.obsidian/workspace.json
  Documentation/User Documentation/Welcome.md
Due: none

Add user documentation and update authorization policies
  Backend/Domains/Conventions/Conventions.Application/Authorization/Extensions/AuthorizationPoliciesDefiner.cs
  Backend/Domains/Conventions/Conventions.Application/Authorization/Policies.cs
  Backend/Domains/Conventions/Conventions.Application/Features/ConventionFeature/GetConvention.cs
  Documentation/User Documentation/.obsidian/app.json
  Documentation/User Documentation/.obsidian/workspace.json
  Documentation/User Documentation/Attendees.md
  Documentation/User Documentation/Convention Main Menu.md
  Documentation/User Documentation/Organizers.md
  Documentation/User Documentation/Select Convention.md
  Documentation/User Documentation/Sidebar.md
  Documentation/User Documentation/Sign In.md
  Documentation/User Documentation/Ticket Templates.md
  Documentation/User Documentation/Tickets.md
  Documentation/User Documentation/Welcome.md
  Documentation/User Documentation/_Welcome.md
  Documentation/User Documentation/imgs/attendees_list.png
  Documentation/User Documentation/imgs/convention_main_menu.png
  Documentation/User Documentation/imgs/organizers_list.png
  Documentation/User Documentation/imgs/select_convention.png
  Documentation/User Documentation/imgs/sidebar.png
  Documentation/User Documentation/imgs/sidebar_button.png
  Documentation/User Documentation/imgs/sign_in.png
  Documentation/User Documentation/imgs/ticket_details.png
  Documentation/User Documentation/imgs/ticket_templates_list.png
  Documentation/User Documentation/imgs/tickets_list.png
  Frontend/frontend/src/app/components/main-menu/main-menu.component.html
  Utilities/CattonInitialization/.idea/.idea.CattonInitialization.dir/.idea/.gitignore
  Utilities/CattonInitialization/.idea/.idea.CattonInitialization.dir/.idea/encodings.xml
  Utilities/CattonInitialization/.idea/.idea.CattonInitialization.dir/.idea/indexLayout.xml
  Utilities/CattonInitialization/.idea/.idea.CattonInitialization.dir/.idea/vcs.xml
  Utilities/Initializer/Initializator/Initializator.csproj
Due: Pipelines/conventions-pipeline.yaml

Update Obsidian workspace and add ticket-template-details styling
  Documentation/User Documentation/.obsidian/workspace.json
  Frontend/frontend/src/app/components/ticket-template-details/ticket-template-details.component.scss
Due: none

Update Documentation with New Images and Details
  Documentation/User Documentation/.obsidian/workspace.json
  Documentation/User Documentation/Ticket Templates.md
  Documentation/User Documentation/imgs/ticket_template_details.png
Due: none

added details page for organizers
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/organizer-details/organizer-delete-confirm-dialog/organizer-delete-confirm-dialog.component.html
  Frontend/frontend/src/app/components/organizer-details/organizer-delete-confirm-dialog/organizer-delete-confirm-dialog.component.ts
  Frontend/frontend/src/app/components/organizer-details/organizer-details.component.html
  Frontend/frontend/src/app/components/organizer-details/organizer-details.component.scss
  Frontend/frontend/src/app/components/organizer-details/organizer-details.component.ts
  Frontend/frontend/src/app/components/organizers/organizers.component.html
  Frontend/frontend/src/app/components/organizers/organizers.component.ts
  Frontend/frontend/src/app/services/navigation.service.ts
Due: none
