Repository MountainCat1/Catton: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/api-gateway-pipeline.yaml, Pipelines/conventions-pipeline.yaml

Pipelines/api-gateway-pipeline.yaml:

pool:
  vmImage: 'ubuntu-latest'

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '**/ApiGateway/*'

stages:
#    - template: /Pipelines/Templates/domain-template.yaml
#      parameters:
#        appName: 'catton-api-gateway'
#        projectPath: '**/ApiGateway'
   - stage: 
     jobs:       
       - job: 
         steps:
           - task: Docker@2
             inputs:
               containerRegistry: 'CattonRegistryConnection'
               command: 'login'
           - task: AzureWebAppContainer@1
             inputs:
               azureSubscription: 'CattonAzureResourceManagerConnection'
               appName: 'catton-api-gateway'
               containers: 'cattonregistry.azurecr.io/catton-api-gateway:230'

Pipelines/conventions-pipeline.yaml:

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: 'Domain Secrets'

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '**/Domains/Conventions/*'

stages:
    - template: /Pipelines/Templates/domain-template.yaml
      parameters:
        appName: 'catton-conventions'
        projectPath: '**/Domains/Conventions'

small "fix" to swagger_codegen.sh
  Utilities/Scripts/swagger_codegen.sh
Due: none

added missing methods to the api gateway
  Backend/ApiGateway/ApiGateway/configuration/ocelot.Development.json
  Backend/ApiGateway/ApiGateway/configuration/ocelot.DockerCompose.json
  Backend/ApiGateway/ApiGateway/configuration/ocelot.Production.json
Due: Pipelines/api-gateway-pipeline.yaml

fixed 500 on wrong email
  Backend/Domains/Accounts/Accounts.Api/Program.cs
  Backend/Domains/Accounts/Accounts.Application/Accounts.Application.csproj
  Utilities/Catut/Catut.Application/Abstractions/IApplicationErrorMapper.cs
  Utilities/Catut/Catut.Application/Catut.Application.csproj
  Utilities/Catut/Catut.Application/Middlewares/ErrorHandlingMiddleware.cs
  Utilities/Catut/Catut.Application/Services/ApplicationErrorMapper.cs
  Utilities/Catut/Catut.Infrastructure/Abstractions/IDatabaseErrorMapper.cs
  Utilities/Catut/Catut.Infrastructure/Errors/Database/DuplicateEntryException.cs
  Utilities/Catut/Catut.Infrastructure/Errors/Database/ItemNotFoundException.cs
  Utilities/Catut/Catut.Infrastructure/Exception/DatabaseException.cs
  Utilities/Catut/Catut.Infrastructure/Generics/Repository.cs
Due: none

fixed 500 on duplicated convention id
  Backend/Domains/Conventions/Conventions.Application/Features/AttendeeFeature/AddAttendee.cs
  Backend/Domains/Conventions/Conventions.Application/Features/ConventionFeature/CreateConvention.cs
  Backend/Domains/Conventions/Conventions.Application/Features/OrganizerFeature/CreateOrganizer.cs
  Backend/Domains/Conventions/Conventions.Domain/Conventions.Domain.csproj
  Backend/Domains/Conventions/Conventions.Domain/Entities/Convention.cs
  Backend/Domains/Conventions/Conventions.Domain/Repositories/IConventionRepository.cs
  Utilities/Catut/Catut.Application/Services/ApplicationErrorMapper.cs
  Utilities/Catut/Catut.Domain/Abstractions/DomainError.cs
  Utilities/Catut/Catut.Domain/Catut.Domain.csproj
  Utilities/Catut/Catut.Domain/Errors/ConflictDomainError.cs
Due: Pipelines/conventions-pipeline.yaml

fixed 500 at account email already taken
  Backend/Domains/Accounts/Accounts.Api/Program.cs
  Backend/Domains/Accounts/Accounts.Application/Features/EmailPasswordAuthentication/CreatePasswordAccount.cs
  Backend/Domains/Accounts/Accounts.Domain/Accounts.Domain.csproj
  Backend/Domains/Accounts/Accounts.Domain/Entities/PasswordAccountEntity.cs
  Backend/Domains/Accounts/Accounts.Domain/Services/PasswordAccountService.cs
Due: none

added creating ticket creation
  Backend/Domains/Conventions/Conventions.Api/Controllers/ConventionController.cs
  Backend/Domains/Conventions/Conventions.Api/Controllers/TicketController.cs
  Backend/Domains/Conventions/Conventions.Api/Controllers/TicketTemplateController.cs
  Backend/Domains/Conventions/Conventions.Api/Extensions/ServiceCollection/AzureSecretsInstaller.cs
  Backend/Domains/Conventions/Conventions.Api/Program.cs
  Backend/Domains/Conventions/Conventions.Application/Conventions.Application.csproj
  Backend/Domains/Conventions/Conventions.Application/Dtos/Organizer/OrganizerCreateDto.cs
  Backend/Domains/Conventions/Conventions.Application/Dtos/Ticket/TicketCreateDto.cs
  Backend/Domains/Conventions/Conventions.Application/Dtos/Ticket/TicketDto.cs
  Backend/Domains/Conventions/Conventions.Application/Features/ConventionFeature/CreateConvention.cs
  Backend/Domains/Conventions/Conventions.Application/Features/OrganizerFeature/CreateOrganizer.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/CreateTicket.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketTemplates/CreateTicketTemplate.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Attendee.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Ticket.cs
  Backend/Domains/Conventions/Conventions.Domain/Repositories/IConventionRepository.cs
  Backend/Domains/Conventions/Conventions.Domain/Validators/TicketTemplateValidator.cs
  Backend/Domains/Conventions/Conventions.Infrastructure/Contexts/ConventionDbContext.cs
  Backend/Domains/Conventions/Conventions.Infrastructure/EntityConfigurations/TicketEntityConfiguration.cs
Due: Pipelines/conventions-pipeline.yaml

added creating og tickets
  Backend/Domains/Conventions/Conventions.Api/Program.cs
  Backend/Domains/Conventions/Conventions.Application/Conventions.Application.csproj
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/CreateTicket.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketTemplates/CreateTicketTemplate.cs
  Backend/Domains/Conventions/Conventions.Domain/Conventions.Domain.csproj
  Backend/Domains/Conventions/Conventions.Domain/Entities/Attendee.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Convention.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Organizer.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Ticket.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/TicketTemplate.cs
  Backend/Domains/Conventions/Conventions.Domain/Validators/AttendeeValidator.cs
  Backend/Domains/Conventions/Conventions.Domain/Validators/OrganizerValidator.cs
  Backend/Domains/Conventions/Conventions.Infrastructure/EntityConfigurations/TicketEntityConfiguration.cs
  Backend/Domains/Conventions/Conventions.Infrastructure/EntityConfigurations/TicketTemplateEntityConfiguration.cs
  Utilities/Catut/Catut.Application/Abstractions/IDomainErrorMapper.cs
  Utilities/Catut/Catut.Application/Catut.Application.csproj
  Utilities/Catut/Catut.Application/Middlewares/ErrorHandlingMiddleware.cs
  Utilities/Catut/Catut.Application/Services/DomainErrorMapper.cs
  Utilities/Catut/Catut.Domain/Catut.Domain.csproj
  Utilities/Catut/Catut.Domain/Errors/ValidationDomainError.cs
  Utilities/Catut/Catut.Infrastructure/Errors/Database/DuplicateEntryException.cs
  Utilities/Catut/Catut.Infrastructure/Errors/Database/ItemNotFoundException.cs
Due: Pipelines/conventions-pipeline.yaml

added authorization for creating tickets
  Backend/Domains/Conventions/Conventions.Application/Authorization/Extensions/AuthorizationPoliciesDefiner.cs
  Backend/Domains/Conventions/Conventions.Application/Authorization/Handlers/IsAtendeeOfHandler.cs
  Backend/Domains/Conventions/Conventions.Application/Authorization/Policies.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/CreateTicket.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetTickets.cs
Due: Pipelines/conventions-pipeline.yaml

added get own tickets feature
  Backend/Domains/Conventions/Conventions.Api/Controllers/TicketController.cs
  Backend/Domains/Conventions/Conventions.Application/Authorization/Extensions/AuthorizationPoliciesDefiner.cs
  Backend/Domains/Conventions/Conventions.Application/Authorization/Handlers/IsAtendeeOfHandler.cs
  Backend/Domains/Conventions/Conventions.Application/Authorization/Policies.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetOwnTickets.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetTickets.cs
  Backend/Domains/Conventions/Conventions.Infrastructure/Repositories/ConventionRepository.cs
Due: Pipelines/conventions-pipeline.yaml

fixed bug with authorization policies
  Backend/Domains/Conventions/Conventions.Application/Authorization/Extensions/AuthorizationPoliciesDefiner.cs
  Backend/Domains/Conventions/Conventions.Application/Authorization/Policies.cs
  Backend/Domains/Conventions/Conventions.Application/Features/AttendeeFeature/SignUpAsAttendee.cs
Due: Pipelines/conventions-pipeline.yaml

added endpoint to get all tickets for a convention
  Backend/Domains/Conventions/Conventions.Api/Controllers/AttendeeController.cs
  Backend/Domains/Conventions/Conventions.Api/Controllers/ConventionTicketController.cs
  Backend/Domains/Conventions/Conventions.Api/Controllers/TicketController.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetAllTicketsInConvention.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetTickets.cs
Due: Pipelines/conventions-pipeline.yaml

fixed type in route template in ConventionTicketController.cs
  Backend/Domains/Conventions/Conventions.Api/Controllers/ConventionTicketController.cs
Due: Pipelines/conventions-pipeline.yaml

changed endpoint configuration
  Backend/Domains/Conventions/Conventions.Api/Controllers/ConventionTicketController.cs
  Backend/Domains/Conventions/Conventions.Api/Controllers/TicketController.cs
Due: Pipelines/conventions-pipeline.yaml

added endpoint to get ticket from the convention
  Backend/Domains/Conventions/Conventions.Api/Controllers/TicketController.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetAttendeeTickets.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetTicket.cs
Due: Pipelines/conventions-pipeline.yaml

added delete occupation
  Backend/Domains/Conventions/Conventions.Api/Controllers/TicketController.cs
  Backend/Domains/Conventions/Conventions.Application/Authorization/Extensions/AuthorizationPoliciesDefiner.cs
  Backend/Domains/Conventions/Conventions.Application/Authorization/Policies.cs
  Backend/Domains/Conventions/Conventions.Application/Dtos/Ticket/TicketUpdateDto.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/DeleteTicket.cs
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/UpdateTicket.cs
  Backend/Domains/Conventions/Conventions.Domain/Entities/Ticket.cs
  Backend/Domains/Conventions/Conventions.Domain/Validators/TicketValidator.cs
Due: Pipelines/conventions-pipeline.yaml

work work
  Backend/Domains/Conventions/Conventions.Api/Program.cs
  Backend/Domains/Conventions/Conventions.Api/getToken.go
  Frontend/frontend/src/app/services/auth.service.ts
  Frontend/frontend/src/app/services/navigation.service.ts
Due: Pipelines/conventions-pipeline.yaml

fixed hashids service registration
  Backend/Domains/Conventions/Conventions.Api/Program.cs
Due: Pipelines/conventions-pipeline.yaml

added getToken.go script
  Backend/Domains/Conventions/Conventions.Api/getToken.go
Due: Pipelines/conventions-pipeline.yaml

added generator for c# api libraries
  Utilities/CsharpCodeGen/.dockerignore
  Utilities/CsharpCodeGen/.gitignore
  Utilities/CsharpCodeGen/CsharpCodeGen.sln
  Utilities/CsharpCodeGen/CsharpCodeGen/CsharpCodeGen.csproj
  Utilities/CsharpCodeGen/CsharpCodeGen/Dockerfile
  Utilities/CsharpCodeGen/CsharpCodeGen/FileUtilities.cs
  Utilities/CsharpCodeGen/CsharpCodeGen/Program.cs
  Utilities/CsharpCodeGen/CsharpCodeGen/generated/AccountsApi.cs
  Utilities/CsharpCodeGen/CsharpCodeGen/generated/ConventionsApi.cs
  Utilities/CsharpCodeGen/CsharpCodeGen/source.md
Due: none

Added environment initializer
  Utilities/Initializator/.gitignore
  Utilities/Initializator/Initializator.sln
  Utilities/Initializator/Initializator/Accounts.http
  Utilities/Initializator/Initializator/AppSettings.cs
  Utilities/Initializator/Initializator/Extensions/ConfigurationBuilderExtensions.cs
  Utilities/Initializator/Initializator/InitializationSettings.cs
  Utilities/Initializator/Initializator/Initializator.csproj
  Utilities/Initializator/Initializator/Initializer.cs
  Utilities/Initializator/Initializator/Program.cs
  Utilities/Initializator/Initializator/appsettings.json
  Utilities/Initializator/Initializator/http-client.env.json
  Utilities/Initializator/dotnet-install.sh
Due: none

updated catton api client
  Utilities/Catton.ApiClient/Catton.ApiClient/Api/AccountsApi.cs
  Utilities/Catton.ApiClient/Catton.ApiClient/Api/ConventionsApi.cs
  Utilities/Catton.ApiClient/Catton.ApiClient/Api/TicketsApi.cs
  Utilities/Catton.ApiClient/Catton.ApiClient/Catton.ApiClient.csproj
Due: none

updated api client
  Frontend/frontend/src/app/services/generated-api/conventions/api-spec.json
  Frontend/frontend/src/app/services/generated-api/conventions/api/api.ts
  Frontend/frontend/src/app/services/generated-api/conventions/api/ticket.service.ts
  Frontend/frontend/src/app/services/generated-api/conventions/model/models.ts
  Frontend/frontend/src/app/services/generated-api/conventions/model/ticketCreateDto.ts
  Frontend/frontend/src/app/services/generated-api/conventions/model/ticketDto.ts
  Frontend/frontend/src/app/services/generated-api/conventions/openapi/.openapi-generator/FILES
  Utilities/Scripts/.gitignore
Due: none

added display for tickets
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/attendees/attendees.component.ts
  Frontend/frontend/src/app/components/main-menu/main-menu.component.html
  Frontend/frontend/src/app/components/tickets/tickets.component.html
  Frontend/frontend/src/app/components/tickets/tickets.component.scss
  Frontend/frontend/src/app/components/tickets/tickets.component.ts
  Frontend/frontend/src/app/services/navigation.service.ts
Due: none

removed unused debug
  Frontend/frontend/src/app/services/navigation.service.ts
Due: none

changed dto of ticket
  Backend/Domains/Conventions/Conventions.Application/Dtos/Ticket/TicketDto.cs
Due: Pipelines/conventions-pipeline.yaml

fixed sorting
  Frontend/frontend/src/app/components/attendee-details/attendee-details.component.ts
  Frontend/frontend/src/app/components/tickets/tickets.component.html
  Frontend/frontend/src/app/components/tickets/tickets.component.ts
Due: none

added ticket details
  Backend/Domains/Conventions/Conventions.Application/Features/TicketFeature/GetTicket.cs
  Documentation/Catton/.obsidian/app.json
  Documentation/Catton/.obsidian/appearance.json
  Documentation/Catton/.obsidian/core-plugins-migration.json
  Documentation/Catton/.obsidian/core-plugins.json
  Documentation/Catton/.obsidian/hotkeys.json
  Documentation/Catton/.obsidian/workspace.json
  Documentation/Catton/Payment.md
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/ticket-details/ticket-details.component.html
  Frontend/frontend/src/app/components/ticket-details/ticket-details.component.scss
  Frontend/frontend/src/app/components/ticket-details/ticket-details.component.ts
  Frontend/frontend/src/app/components/tickets/tickets.component.ts
  Frontend/frontend/src/app/services/generated-api/conventions/api-spec.json
  Frontend/frontend/src/app/services/generated-api/conventions/model/ticketDto.ts
  Frontend/frontend/src/app/services/navigation.service.ts
Due: Pipelines/conventions-pipeline.yaml

added new domains to the pipeline
  Pipelines/accounts-pipeline.yaml
  Pipelines/payment-pipeline.yaml
Due: none

added ticket list
  Backend/Domains/Conventions/Conventions.Application/Dtos/TicketTemplate/TicketTemplateDto.cs
  Backend/Domains/Conventions/Dockerfile
  Frontend/frontend/src/app/app-routing.module.ts
  Frontend/frontend/src/app/app.module.ts
  Frontend/frontend/src/app/components/initial-redirect/initial-redirect.component.ts
  Frontend/frontend/src/app/components/main-menu/main-menu.component.html
  Frontend/frontend/src/app/components/select-convention/select-convention.component.ts
  Frontend/frontend/src/app/components/ticket-templates/ticket-templates.component.html
  Frontend/frontend/src/app/components/ticket-templates/ticket-templates.component.scss
  Frontend/frontend/src/app/components/ticket-templates/ticket-templates.component.ts
  Frontend/frontend/src/app/generic-components/secure/secure.component.html
  Frontend/frontend/src/app/services/generated-api/conventions/api-spec.json
  Frontend/frontend/src/app/services/generated-api/conventions/model/ticketTemplateDto.ts
  Frontend/frontend/src/app/services/navigation.service.ts
  Pipelines/.idea/.idea.Pipelines.dir/.idea/.gitignore
  Pipelines/.idea/.idea.Pipelines.dir/.idea/encodings.xml
  Pipelines/.idea/.idea.Pipelines.dir/.idea/indexLayout.xml
  Pipelines/.idea/.idea.Pipelines.dir/.idea/vcs.xml
Due: Pipelines/conventions-pipeline.yaml

Enhance payment and session functionalities
  Backend/Domains/Payments/Payments.Api/Controllers/PaymentController.cs
  Backend/Domains/Payments/Payments.Api/Controllers/WebhookController.cs
  Backend/Domains/Payments/Payments.Api/Migrations/20231216122742_TempMigration_PEUVmxTqb9.Designer.cs
  Backend/Domains/Payments/Payments.Api/Migrations/20231216122742_TempMigration_PEUVmxTqb9.cs
  Backend/Domains/Payments/Payments.Api/Migrations/PaymentsDbContextModelSnapshot.cs
  Backend/Domains/Payments/Payments.Api/Program.cs
  Backend/Domains/Payments/Payments.Application/Configuration/StripeSettings.cs
  Backend/Domains/Payments/Payments.Application/Dtos/Payment/PaymentDto.cs
  Backend/Domains/Payments/Payments.Application/Dtos/Payment/PaymentUpdateDto.cs
  Backend/Domains/Payments/Payments.Application/Dtos/SessionDetails/SessionDetailsDto.cs
  Backend/Domains/Payments/Payments.Application/Extensions/StripeSessionExtensions.cs
  Backend/Domains/Payments/Payments.Application/Features/Payments/CreatePayment.cs
  Backend/Domains/Payments/Payments.Application/Features/Payments/GetPayment.cs
  Backend/Domains/Payments/Payments.Application/Features/Payments/RenewPaymentSession.cs
  Backend/Domains/Payments/Payments.Application/Features/Payments/UpdatePaymentStatus.cs
  Backend/Domains/Payments/Payments.Application/NotificationHandlers/CheckoutSessionCompleted.cs
  Backend/Domains/Payments/Payments.Application/Services/Domain/SessionDomainService.cs
  Backend/Domains/Payments/Payments.Application/Services/PaymentService.cs
  Backend/Domains/Payments/Payments.Domain/Entities/Payment.cs
  Backend/Domains/Payments/Payments.Domain/Services/ISessionDomainService.cs
  Backend/Domains/Payments/Payments.Domain/Validators/PaymentValidator.cs
  Backend/Domains/Payments/Payments.Domain/ValueObjects/SessionDetails.cs
  Backend/Domains/Payments/Payments.Infrastructure/Contexts/PaymentsDbContext.cs
  Backend/Domains/Payments/Payments.Infrastructure/EntityConfigurations/PaymentEntityConfiguration.cs
Due: none

Refactor SessionDetails to CheckoutSessionDetails
  Backend/Domains/Payments/Payments.Api/Controllers/PaymentController.cs
  Backend/Domains/Payments/Payments.Application/Dtos/Payment/PaymentDto.cs
  Backend/Domains/Payments/Payments.Application/Dtos/SessionDetails/CheckoutSessionDetailsDto.cs
  Backend/Domains/Payments/Payments.Application/Dtos/SessionDetails/SessionDetailsDto.cs
  Backend/Domains/Payments/Payments.Application/Extensions/StripeSessionExtensions.cs
  Backend/Domains/Payments/Payments.Application/NotificationHandlers/CheckoutSessionCompleted.cs
  Backend/Domains/Payments/Payments.Application/Services/Domain/SessionDomainService.cs
  Backend/Domains/Payments/Payments.Domain/Entities/Payment.cs
  Backend/Domains/Payments/Payments.Domain/Services/ISessionDomainService.cs
  Backend/Domains/Payments/Payments.Domain/ValueObjects/CheckoutSessionDetails.cs
  Backend/Domains/Payments/Payments.Infrastructure/EntityConfigurations/PaymentEntityConfiguration.cs
Due: none

Upgrade HttpClient and Docker base images, fix typo in ConventionsApi.cs
  Backend/Domains/Payments/Dockerfile
  Utilities/CsharpCodeGen/CsharpCodeGen/Program.cs
  Utilities/CsharpCodeGen/CsharpCodeGen/generated/ConventionsApi.cs
Due: none

Update Payments API and Docker configurations
  Backend/ApiGateway/ApiGateway/configuration/ocelot.DockerCompose.json
  Backend/Domains/Payments/Payments.Api/Controllers/PaymentController.cs
  Backend/Domains/Payments/Payments.Api/appsettings.DockerCompose.json
Due: Pipelines/api-gateway-pipeline.yaml
